@import "tailwindcss";

@import 'flowbite';

.container {
    @apply max-w-7xl mx-auto w-full;
}


@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-customBackground: #171717;
    --color-customHover: #C81E1E;
    --color-primary: #C81E1E;
    --color-secondary: #171717;
    --color-terciary: #262626;
    --color-colorline: #B9B9B9;
    --color-colorBlue: #1A56DB;
    --color-colorBlueHover: #003F94;
    --color-colorRed: #C81E1E;
    --color-colorRedHover: #B21330;
    --color-colorLaranja: #E45F00;
    --color-colorLaranjaHover: #A74600;
    --color-colorGreen: #00A710;
    --color-inputBg: #F9FAFB;
}