@import "tailwindcss";

@import 'flowbite';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.container {
    @apply max-w-7xl mx-auto w-full;
}

@layer components {
    .grid-responsive {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3;
    }
}


@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-customBackground: #171717;
    --color-customHover: #C81E1E;
    --color-primary: #C81E1E;
    --color-secondary: #171717;
    --color-terciary: #262626;
    --color-colorline: #B9B9B9;
    --color-colorBlue: #1A56DB;
    --color-colorBlueHover: #003F94;
    --color-colorRed: #C81E1E;
    --color-colorRedHover: #B21330;
    --color-colorLaranja: #E45F00;
    --color-colorLaranjaHover: #A74600;
    --color-colorGreen: #00A710;
    --color-inputBg: #F9FAFB;
}